
.container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body
{
    background-color: #eee;
}

.item
{
    background-color: gold;
    font-size: 1.3rem;
    width: 80%;
    padding: 1.3rem;
    margin: 1rem auto;
}